* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #07071d;
    color: rgb(255, 255, 255);
    font-family: 'COUNRIER', sans-serif;
    font-size: 16px;
}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}


.video li {
    list-style:  none;
    padding:  7px;
    font: bold 14px verdana;
    display: inline-block;
    border: 1px solid black;
    background: #ff5252;
    color: white;
    border-bottom: 2px solid black;
    border-radius: 20%;
}


.conteiner {
    width: 90%;
    margin: auto;
}
 /* INICIO DEL - news-cards */

.news-cards {
    display: grid;   
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
}


.news-cards img {
    width: 100%;
    height: 259px;
}


.news-cards h3 {
    font-size: 20px;
    margin: 10px 0;
}

.news-cards a {
    padding: 10px 0;
    color: #f2f2f2;
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover {
text-decoration: underline;
}


.img-radius {
    border-radius: 30px;
}

 /* FIN DEL - news-cards */



/*Navigation*/ 
.nav-main {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    width: 50px ;
}

/* NAV LEFT */
.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 13px; 
}
 
.nav-main ul li a {
    padding: 2px;
}
.nav-main ul li a:hover {
    border-bottom: 2px solid white;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

.menu-btn {
    position: absolute;
    margin: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 2;
    display: none;
}


    
    /* VIDEO */
    
    .video {
       width: 100%;
       height: 600px;
      
    }
     
    /* SOCIAL */
    .social {
        margin: 50px;
    }
    
    .social p {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;  
    }
    
    .links {
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .links a {
        margin: 0 30px;
    }
    
    .links a i {
        font-size: 3rem;
    }
    
    /* FOOTER LINKS */
    .footer-links {
        background: #2f3640;
        color: #616161;
        font-size: 20px;
        padding: 35px 0;
    }
    
    .footer-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 10px;
        align-items: flex-start;
        justify-content: center;
    }
    
    .footer-container ul {
        margin: 0 auto;
    }
    
    .footer-container ul li {
        line-height: 2.8;
    }
    
    .footer {
        background: #2f3640;
        color: #616161;
        padding: 20px 0;
        text-align: center;
        padding-bottom: 20px;   
    }
    
    /* Mobil */
    @media (max-width: 700px) {
        .menu-btn {
            display: block;
          }
       .nav-main ul.nav-menu { 
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        width: 50%;
        height: 100%;
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
       }
    
       .nav-main ul.nav-menu.show {
           transform: translateX(-20px);
       }
    
       .nav-main ul.nav-menu li {
           padding: 20px;
           border-bottom: #ccc solid 1px;
           font-size: 14px;
       }
    
       .nav-main ul.nav-menu-right {
           margin-right: 60px;
    
       }
       
        .news-cards {
            grid-template-columns: repeat(2, 1fr);
        }
    
        .cards-banner-one .content, 
        .cards-banner-two .content
        {
            width: 90%;
            height: 480px;
        }
    
        .footer-links .footer-container {
            grid-template-columns: repeat(2, 1fr);
        }
    
        .menu-btn {
           display: block;
       }
    
    
       .video_1{
           
        width: 100%;
        height: 300px;
       
     }
      
       }
    @media (max-width: 500px) {
        .news-cards {
            grid-template-columns: 1fr;
          }
        
          .cards-banner-one .content,
          .cards-banner-two .content {
            width: 100%;
            padding: 60px 20px;
          }
    
          .video_1 {
           
            width: 100%;
            height: 200px;
           
         }
    
         @media (max-width: 400px) {
            .news-cards {
                grid-template-columns: 1fr;
              }
            
              .cards-banner-one .content,
              .cards-banner-two .content {
                width: 100%;
                padding: 60px 20px;
              }
        
              .video_1 {
               
                width: 100%;
                height: 200px; 
             }